div.demo {
	border: none;
  	margin: 0;
	width: 495px;
}
#slideshow {
	height: 408px;
}

#products {
	width:350px; height:300px;
	margin:0px 0px 0px 80px;
}

div.right {
	font-size: 90%;
	right: 10%;
	padding-right: 1.2em;
	position: absolute;
	width: 90px;
}
div.right button {
	width: 90px;
}
div.caption {
	position: absolute;
	margin-top: -35px;
	margin-left: -125px;
	width: 150px;
	text-align: center;
	left: 50%;
	padding: 5px 10px;
	background: black;
	color: white;
	font-family: sans-serif;
	border-radius: 10px;
	display: none;
}
