
/*************************************************  DropDownList 1 (light grey, float right)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  top:30px;
  right:-1px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #a2a2a2;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox 
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 0px 0px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 200px; /* Resize Width */
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}





/*************************************************  DropDownList 2 (white)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper2 {
  position:absolute;
  top:30px;
  left:5px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #ccc;
  margin:0px;
  margin-top:8px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper2 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper2 ul li.selected2 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper2 ul li.current2 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper2 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox2
{
  position:relative;
  display: block;
  float:left;
  right:0px;
  margin: 4px 0px 10px 6px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 180px; /* Resize Width */
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}






/*************************************************  DropDownList 3 (dark grey) - long  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper3 {
  position:absolute;
  top:30px;
  right:-1px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-6px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper3 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper3 ul li.selected3 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper3 ul li.current3 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper3 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox3
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 4px 0px 10px 6px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 200px; /* Resize Width */
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}




/*************************************************  DropDownList 4 (dark grey) - short  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper4 {
  position:absolute;
  top:30px;
  right:-1px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-6px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper4 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper4 ul li.selected4 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper4 ul li.current4 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper4 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox4
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 4px 0px 10px 6px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 120px; /* Resize Width */
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}







/*************************************************  DropDownList 5 (light grey, for Staff page)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper5 {
  position:absolute;
  display:block;
  top:38px;
  left:45px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #a2a2a2;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:200;
}

/*Drop down list styles*/
div.selectbox-wrapper5 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper5 ul li.selected5 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper5 ul li.current5 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper5 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox5 
{
  position:relative;
  display: block;
  float:left;
  left: 13px;
  margin: 8px 0px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 114px; /* Resize Width */
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}







/*************************************************  DropDownList 6 (light grey, for Publication page, by year)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper6 {
  position:absolute;
  display:block;
  top:34px;
  left:143px;
  width:100px;
  background-color:#c1c1c1;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:200;
}

/*Drop down list styles*/
div.selectbox-wrapper6 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper6 ul li.selected6 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper6 ul li.current6 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper6 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox6 
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 2px 10px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 100px; /* Resize Width */
  height: 16px;
  text-align:left; 
  background: url('http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}





/*************************************************  DropDownList 7 (light grey, for Publication page, by month)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper7 {
  position:absolute;
  display:block;
  top:34px;
  left:115px;
  width:110px;
  background-color:#c1c1c1;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:200;
}

/*Drop down list styles*/
div.selectbox-wrapper7 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper7 ul li.selected7 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper7 ul li.current7 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper7 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox7 
{
  position:relative;
  display: block;
  float:left;
  right:0px;
  margin: 2px 0px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 110px; /* Resize Width */
  height:16px;
  text-align:left; 
  background: url('../../http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}

/*************************************************  DropDownList 1 (light grey, float right)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper8 {
  position:absolute;
  top:30px;
  right:-1px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #a2a2a2;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper8 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper8 ul li.selected8 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper8 ul li.current8 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper8 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox8 
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 0px 0px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 200px; /* Resize Width */
  text-align:left; 
  background: url('../../http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}

/*************************************************  DropDownList 9 (light grey, float right)  *****************************************************/
/* Drop down styles*/
div.selectbox-wrapper9 {
  position:absolute;
  top:30px;
  right:-1px;
  width:200px;
  background-color:#c1c1c1;
  border:1px solid #a2a2a2;
  margin:0px;
  margin-top:-10px;
  padding:3px;
  text-align:left;
  max-height:250px;
  overflow:auto;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  color:#646464;
  z-index:100;
}

/*Drop down list styles*/
div.selectbox-wrapper9 ul {
  /*display:block;*/
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper9 ul li.selected9 { 
  /*background-color: #646464;*/
}

/* Hover state for dropdown list */
div.selectbox-wrapper9 ul li.current9 { 
  background-color: #a2a2a2;
  color:#fff;
}

/* Drop down list items style*/
div.selectbox-wrapper9 ul li {
  list-style-type:none;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox9 
{
  position:relative;
  display: block;
  float:right;
  right:0px;
  margin: 0px 0px 10px 0px;
  padding:2px;
  font-family: Arial, Corbel, 'Droid Sans', Verdana, Helvetica, sans-serif;
  font-size:12px;/* Resize Font*/
  width : 200px; /* Resize Width */
  text-align:left; 
  background: url('../../http://localhost/cpg/themes/default/images/dropdown_bg1.png') right;
  cursor: pointer;
  border:1px solid #c1c1c1;
  color:#646464;
}