	<div id="rs_line">
		<br /><br /><span id="red"><em>Chức năng gửi email hàng loạt</em></span>
	</div><br/>
	<div id="rs_line" style=" line-height:20px;"><br />
		
	</div><br/>
	<div id="rs_line">
		<div id="rs_line_l">
			<a href="http://lebaominh.vn/sendemail" target="_blank">Gửi email</a>
		</div>
		<div id="rs_line">
			&nbsp;
		</div>
	</div>	
	<div id="rs_line">
		<div id="rs_line_l">
			<a href="http://lebaominh.vn/sendemail/capnhat/" target="_blank">Biên soạn email gửi</a>
		</div>
		<div id="rs_line">
			&nbsp;
		</div>
	</div>	
	<br /><br /><br /><br />
